<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TraerPorNombreYApellido</title>
</head>
<body>
    <div> 
        <h2>
            @Html.ViewBag.Nombre
            @Html.ViewBag.Apellido
        </h2>

    </div>
</body>
</html>
